body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    padding-right: 0;
}

#logo-img {
    background: url('../images/chinese-food.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

#nav-text1{
    color: green;
    margin-top: 14px;
    font-size: 18px;
    font-family: sans-serif;
}

#nav-text2{
    color: black;
    font-size: 16px;
    font-style: italic;
    margin-top: -12px;
}

.navbar-toggler {
    border: none;
    outline: none;
  }
  .navbar-toggler:active {
    border: none;
    outline: none;
  }

#telefoon-text{
    color: #61122f;
}

@media (min-width: 768px) and (max-width: 992px) {
    #logo-head {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    #logo-head {
        width: 60px;
        height: 60px;
    }
}

#navbarNav ul{
    margin-top: 24px;
}

#navbarNav ul li a i{
    margin-right: 5px;
}

/* Body */
.jumbotron {
    background-image: url("../images/chin-restau.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.row div{
    color: white;
}

#home-tiles div {
    position: relative;
    text-align: center;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    /* overflow: hidden; */
}

#home-tiles div div:hover {
    box-shadow: 0 3px 6px 4px #2e0505;
}

#tile1{
    background-image: url(../images/chinees-eten1.jpg);
    background-size: cover;
}

#tile2{
    background-image: url(../images/chinees-eten2.jpg);
    background-size: cover;
}

#home-tiles div div div {
    position: absolute;
    left: 0;
    bottom: -15px;
    background-color: rgba(255,0,0, .7);
    border-radius: 12px 12px 0 0;
    height: 18%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: ivory;
    font-size: 1.2em;
}

#home-tiles div div div a{
    color: ivory; 
}

footer{
    background-color: rgb(83, 74, 74);
    font-size: 14px;
}

#textdeliver{
    color: rgb(47, 177, 47);
    font-style: italic;
}

#footkop{
    font-size: 0.8em;
    text-transform: uppercase;
}

#menu-item{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#menu-item:hover {
    position: relative;
    width: 101%;
    height: 101%;
}

#menu-item a{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgb(116, 75, 75, 0.7);
    width: 100%;
    text-transform: uppercase;
    padding: 4px 0;
    color: white;
}

/* /Single Menu  */
#singlemenu-img1{
    background-image: url("../images/chinees-eten1.jpg");
    background-size: cover;
    background-position: center;
}

#singlemenu-img2{
    background-image: url("../images/chinees-eten2.jpg");
    background-size: cover;
    background-position: center;
}

#singlemenu-img3{
    background-image: url("../images/chinees-eten3.jpg");
    background-size: cover;
    background-position: center;
}

#singlemenu-img4{
    background-image: url("../images/chinees-eten4.jpeg");
    background-size: cover;
    background-position: center;
}

#singlemenu-img5{
    background-image: url("../images/chinees-eten5.jpg");
    background-size: cover;
    background-position: center;
}

#singlemenu-text h3{
    font-size: 18px;
    margin-top: 10px;
}

#singlemenu-text p{
    font-size: 14px;
}

.price{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(199, 133, 133)!important;
    margin-right: 20px;
}

#singlemenu-text span{
    color: rgb(199, 133, 133);
}