*{
    box-sizing: border-box;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

.article-header{
    text-align: center;
}

.row{
    width: 100%;
}

.col{
    float: left;
}